# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file,
# see https://git-scm.com/docs/gitignore#_pattern_format.

# Default owners
* @YGZWQZD

# Semisupervised learning
lambdaLearn/Algorithm/SemiSupervised/ @lambdaLearn-SemiSupervised
